/*------------------------------------------------- Navbar Styling Code for CSS -------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main_navbar_div {
    position: fixed;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    caret-color: transparent;
    background: rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: 1;

}

.nav_logo {
    height: 50px;
    font-size: 40px;
    width: 50px;
    margin-left: 30px;
}

.nav_list {
    display: flex;
    align-items: center;
    width: 60%;
    height: 40px;
    justify-content: center;
}

.nav_list ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    gap: 10px;
    margin-left: 220px;

}

.user_name {
    margin-right: 10px;
    height: 100%;
    width: 15%;
   gap: 3%;
    display: flex;
    align-items: center;
}

.user_name p{
    width: 80%;
}
.user_name img{
    width: 40%;
    height: 90%;
    border-radius: 50%;
}
.nav_list ul li {
    letter-spacing: .6px;
    width: 125px;
    height: 40px;
    align-content: center;
    cursor: pointer;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.nav_list ul li button {
    border: none;
    height: 75%;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: blue;
    color: white;
    margin-right: 40px;
    font-size: 15px;
}

.nav_login {
    width: 100px;
    margin-right: 25px;
    height: 100%;
}

.nav_list ul li a {

    color: black;
}

.nav_list ul li button:hover {
    background-color: rgb(225, 222, 219);
    color: black;
    transition: .6s;
}

.menu_btn {
    height: auto;
    width: 60px;
    display: none;
}

@media(max-width: 1020px) {
    .nav_logo {
        height: 30px;
        font-size: 30px;
        width: 35px;
        margin-left: 20px;
    }

    .nav_list {
        position: fixed;
        background-color: #8b8989;
        top: 60px;
        right: -100%;
        height: 100vh;
        width: 100%;
        display: block;
        z-index: 1;
        transition: ease-in-out .8s
    }

    .nav_list ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
        margin-bottom: 0px;
        margin-left: -40px;
        margin-top: 80px;
    }

    .nav_list ul li button {

        margin-right: 0px;
    }

    .nav_list ul li a {
        color: white;
        font-size: 20px;
    }

    .menu_btn {
        height: auto;
        width: 60px;
        display: inline-block;

        & .close_icon {
            display: none;
        }
    }

    .active .nav_list {
        right: 0%;
    }

    .active .mobile_icon {
        display: none;
        position: absolute;
        right: 35px;
        top: 16px;
        color: black;
    }

    .active .close_icon {
        display: inline-block;
    }

    .user_name {
        display: none;
    }

}

/*-----------------------------------------------------------Home Page Styling CSS Code-------------------------------------------- */

.main_home_div {
    height: auto;
    width: 100%;

}

/*-----------------------------------------------------------HeroSection Page Styling CSS Code-------------------------------------------- */

.hero_section {
    height: auto;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Roboto", sans-serif;
    caret-color: transparent;
}

.hero_section_content {
    width: 35%;
    height: auto;
    min-height: 280px;
    text-align: left;
    opacity: .7;
    padding-left: 10px;
}

.hero_section_content h2 {

    font-weight: 600;
    font-size: x-large;
    margin-left: 0px;
}

.hero_section_content button {

    height: 45px;
    width: 130px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    border: 1px solid white;
    margin-left: -7px;
}

.hero_section_content button:hover {

    color: black;
    background-color: rgb(56, 56, 243);
    font-weight: bold;
}

.hero_section_image {
    text-align: left;
    width: 35%;
    min-height: 280px;

}

.hero_section_image img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

@media(max-width: 1020px) {

    .hero_section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        min-height: 800px;
        overflow: hidden;
    }

}

@media(max-width: 800px) {

    .hero_section {
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: center;
        align-items: center;

    }

    .hero_section_content {
        width: 65%
    }

    .hero_section_image {
        text-align: left;
        width: 65%;
        min-height: 200px;

    }

    .hero_section_content button {
        height: 35px;
        width: 100px;
        font-size: small;
    }
}

@media(max-width:450px) {
    .hero_section_image img {
        text-align: left;

        height: 200px;

    }
}

/*-----------------------------------------------------------Services Page Styling CSS Code-------------------------------------------- */
.main_service_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 400px;
    background-color: #b5b5b6;
    caret-color: transparent;
}

.service_1,
.service_2,
.service_3 {
    height: 230px;
    width: 23%;
    text-align: center;
    align-content: center;
    background-color: #fff;
    opacity: .6;
    border-radius: 5px;
}

.service_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
}

.service_2a {
    width: 100%;
    height: 150px;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
}

.service_2a span {
    padding-bottom: 2px;
}

@media(max-width: 800px) {
    .main_service_page {
        flex-direction: column;
        display: flex;
        height: 600px;
    }

    .service_1,
    .service_2,
    .service_3 {
        width: 75%;
        height: 150px;

    }

    .service_2 {
        display: flex;
        flex-direction: row;
    }

}

/*-----------------------------------------------------------Trustedpage Page Styling CSS Code-------------------------------------------- */
.trustedpage {
    width: auto;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    opacity: .8;
}

.t_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
}

@media(max-width: 800px) {
    .t_icon {
        display: flex;
        gap: 20px;
    }
}

/*-------------------------------------------------------Contact Page CSS styling code---------------------------------------------------*/


.contact_main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
}

.location_map {
    width: 75%;
}

.Contact_form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    height: 350px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Contact_form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: left;
}

.Contact_form input {
    text-align: left;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.Contact_form textarea {
    width: 350px;
    margin-bottom: 10px;
    outline: none;
    resize: none;
}

.Contact_form button {
    height: 45px;
    width: 355px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    border: 1px solid white;
   
    opacity: .8;
}

.Contact_form button:hover {
    opacity: 1;

    background-color: rgb(56, 56, 243);
    
}

@media(max-width: 800px) {

    .Contact_form button {
        height: 35px;
        width: 270px;
        
    }

    .Contact_form {
        width: 22%;
        height: 350px;
    }

    .Contact_form form {
        width: 50%;
    }

    .Contact_form input {
        text-align: left;
        width: 260px;
    }

    .Contact_form textarea {
        width: 260px;
    }
}

/*-------------------------------------------------------Product Page CSS styling code---------------------------------------------------*/


.product_main_div {
    min-height: 800px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2%;

}

.product_serchbar {
    width: 20%;
    min-height: 750px;
    height: 100%;
    margin: 90px 0px 10px 0px;

}

.product_serchbar input {
    height: 25px;
    margin-left: 20px;
    margin-top: 0px;
    width: 50%;
}

.range {
    cursor: pointer;
}

.product_serchbar p {
    margin-left: 20px;
    height: 20px;
    caret-color: transparent;
    width: 50%;
    cursor: pointer;
    margin-bottom: 0px;
    row-gap: 0px;

}

.product_serchbar h3 {
    margin-left: 20px;
    caret-color: transparent;
}

.product_serchbar select {
    height: 30px;
    margin-left: 20px;
    width: 60%;
    caret-color: transparent;
    text-align: center;

}

.product_serchbar p:active {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.product_serchbar:nth-child(14) {
    width: 100000px;
}

.products_list {
    width: 60%;
    min-height: 750px;
    margin: 80px 0px 10px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    caret-color: transparent;
}

.sort_view {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    align-items: center;

}

.sort_view p {
    width: 20%;
    font-size: medium;
}

.sort_view form {
    height: 30px;
    margin-right: 10px;
    width: 20%;
}

.sort_view form select {
    height: 100%;
    width: 100%;
}

.sort_icons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-left: 10px;
    cursor: pointer;
}

.main_products_list_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10px;
}

.main_products_list_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.p_card_list {

    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;

}

.p_img_list {

    width: 35%;

}

.p_img_list img {
    width: 100%;
    margin: 10px;
}

.p_img_list img:hover {

    transform: scale(.8);

}

.basic_info_list {

    width: 40%;
}

.basic_info_list p,
button {
    text-transform: capitalize;
    margin-left: 0px;
}

.basic_info_list button {
    margin-left: -5px;
    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}

.clearall_btn {
    height: 35px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}



.p_search_btn {
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;

}


@media (max-width: 850px) {

    .p_search_btn {
        height: 20px;
        font-size: smaller;
        width: 45px;
        margin-top: 5px;
        margin-left: 20px;
    }
}

@media(max-width: 650px) {
    .product_main_div {
        font-size: small;
        gap: 1%;
    }

    .clearall_btn {
        margin-left: 3px;
    }

    .sort_icons {
        gap: 7px;

    }

    .product_serchbar {
        width: 26%;
        margin-left: 0px;
        margin-top: 70px;
    }

    .products_list {
        width: 70%;
    }

    .sort_view p {
        font-size: small;
    }

    .sort_view select {
        height: 20px;
        width: 25%;
    }

    .product_serchbar select {
        font-size: small;
        width: auto;
    }

    .sort_view select {

        font-size: smaller;
    }

    .product_serchbar input {
        height: 20px;
        margin-left: 0px;
        margin-top: 27px;
        width: 100%;
    }

    .p_search_btn {
        height: 20px;
        font-size: smaller;
        width: 45px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .p_card_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border: none;
        box-shadow: none;
    }

    .p_img_list {
        width: 80%;
    }

    .basic_info_list {
        width: 80%;
    }

    .p_img_list img {
        width: 100%;
        margin: -4px;
    }

    .basic_info_list {
        width: 80%;
    }

    .basic_info_list button {
        height: 20px;
        width: 80px;
        font-size: smaller;

    }
}

/*-------------------------------------------------------Add to Cart Page CSS styling code---------------------------------------------------*/

.main_cart_page {

    min-height: 100vh;
    width: 100%;
    height: auto;
    border: 1px solid white;

}

.heading {
    height: 55px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70%;
    font-size: larger;
    font-weight: bold;
    caret-color: transparent;
}

.heading_col_one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
   
}

.heading_col_two {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
   

}

.heading_col_two p {
    width: 60%;
    align-content: center;
    height: 100%;
  
}

.heading_col_two img {
    width: 35%;
    height: 100%;
    border-radius: 50%;
}

.row_heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: large;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(243, 236, 236);
    caret-color: transparent;
}

.row_cartlist {
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: large;
    margin-top: 10px;
    background-color: rgb(243, 236, 236);
    caret-color: transparent;
}

.list_colomn_one {
    width: 16.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}

.p_image {
    width: 45%;
}

.list_colomn_one img {
    height: 70%;
    width: 70%;
}

.p_name {
    width: 50%;
    font-size: small;
    margin-bottom: 13px;
}

.color_div {
    margin-left: 5px;
    margin-top: 7px;
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.list_colomn_two {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -65px;
}

.list_colomn_three {
    width: 13%;
}

.list_colomn_four {
    width: 12%;
}

.list_colomn_five {
    width: 12%;
}

.cart_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
}

.cart_btns div {
    height: 100%;
    width: 40%;
}

.continue_btn,
.clear_cart_btn {
    height: 90%;
    width: 30%;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    caret-color: transparent;
}

.continue_btn,
.clear_cart_btn:hover {
    opacity: .8;
}

.clear_cart_btn {
    margin-left: 50%;
    background-color: orange;
}

.continue_btn {
    margin-left: 10%;
    background-color: blue;
}

.continue_btn_blank {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.continue_btn_blank a {
    height: 80%;
    width: auto;
}

.continue_btn_blank button {
    height: 95%;
    background-color: blue;
    color: white;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.heading_blank {
    margin-top: 150px;
    text-align: center;
    font-size: larger;
}

.billing_section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.billing_details {
    height: 70%;
    width: 28%;
    border: none;
    border-radius: 10px;
    background-color: #606468;
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: transparent;

}

.billing_details hr {
    width: 85%;
}

.bill_colomn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.bill_colomn p {
    text-align: left;
    width: 46%;
}

.bill_colomn :nth-child(2) {
    text-align: end;
    margin-right: 10px;
}

.checkoutbtn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.checkoutbtn button{
    height: 100%;
    width: 150px;
    text-align: center;
    font-size: 15px;
    background-color: green;
    color: white;
    caret-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 60px;
}


@media(max-width: 800px) {
    .row_cartlist {
        font-size: small;
    }
    .checkoutbtn button{
        margin-right: 10px;
    }

    .p_name {
        font-size: small;
    }

    .p_image {
        width: 40%;
    }

    .list_colomn_four,
    .colomn_four {
        display: none;
    }

    .list_colomn_two {
        width: 20%;
        padding-right: 20px;
        margin-left: -7px;
    }

    .list_colomn_three {
        justify-items: left;
        margin-right: 15px;
    }

    .list_colomn_one {
        width: 36%;
        margin-left: -2px;
        font-size: smaller;
    }

    .list_colomn_five {
        width: 20%;
        text-align: center;
    }

    .row_heading {
        font-size: medium;
    }

    .row_heading p {
        width: 23%;
        font-size: small;
        text-align: end;
    }

    .continue_btn,
    .clear_cart_btn {
        height: 75%;
        width: 75%;
        font-size: small;
    }

    .clear_cart_btn {
        margin-left: 10%;
    }

    
}

@media(max-width:600px) {

    .billing_section {
        height: 240px;
    }

    .billing_details {
        height: 80%;
        width: 90%;
        font-size: small;
        margin: 10px;
    }
    .heading {
        gap: 20%;
    }

    .heading_col_one {
        font-size: small;

        width: 50%;
        height: 100%;

    }

    .heading_col_two {
        font-size: small;
        width: 70%;

    }

    .heading_col_two p {
        width: 95%;
        padding-left: 5px;
    }

    .heading_col_two img {
        width: 60%;
        height: 80%;
    }
}

/*-------------------------------------------------------Error Page CSS styling code---------------------------------------------------*/

.error_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    caret-color: transparent;
}

.error_text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    background-color: #b5b5b6;
}

.error_text button {
    border-radius: 5px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-size: large;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

@media(max-width: 800px) {
    .error_div {
        height: 100vh;
    }

    .error_text {
        font-size: small;
    }

    .error_text button {
        height: 25px;
        width: 80px;
        font-size: small;
    }
}

/*-------------------------------------------------------Home featuredproducts CSS styling code---------------------------------------------------*/
.main_feature {
    min-height: 440px;
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5efef;
}

.products_feature {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.p_card {
    height: 240px;
    width: 25%;
    border-radius: 5px;
    caret-color: transparent;
}

.p_card:hover {
    transform: scale(.8);
}

.p_img,
img {
    height: 200px;
    width: 100%;
}

.p_img {
    cursor: pointer;
    position: relative;
}

.p_img p {
    position: absolute;
    right: 10px;
    min-width: 30%;
    height: 30px;
    color: blue;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    border: 1px solid rgb(255, 247, 247);
    background-color: #fff;
    font-size: small;
}

.basic_info {
    display: flex;
    justify-content: space-between;
}

.basic_info p,
a {
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}


@media (max-width: 600px) and (max-width: 1020px) {
    .products_feature {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: small;
    }

    .p_card {
        width: 65%;
    }
}

/*-------------------------------------------------------Single product page CSS styling code---------------------------------------------------*/
.single_product_div {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 80vh;
    height: auto;
    margin-bottom: 20px;
    caret-color: transparent;
}

.singleproduct_heading {
    margin-top: 58px;
    height: 50px;
    width: 100%;
    background-color: #cac4c4;
}

.singleproduct_heading a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.singleproduct_heading p {
    text-transform: capitalize;
    margin-left: 10px;
}

.singleproduct_data {
    height: 85vh;
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    gap: 10px;
}

.singleproduct_images_section {
    width: 35%;
    height: 100%;
}

.singleproduct_Description_section {
    width: 45%;
    height: 100%;
}

.singleproduct_Description_section p,
h2 {
    margin-left: 10px;
    text-transform: capitalize;

}

.singleproduct_Description_section p {
    font-size: 14px;
}

.singleproduct_icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    justify-content: space-around;
}

.singleproduct_icons p {
    margin-top: 0px;
}

.singleproduct_icons {
    margin-top: 10px;
}

.singleproduct_icons div {
    width: 20%;
}

.singleproduct_images {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
}

.row_img {
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.row_img img {
    height: 20%;
    cursor: pointer;
}

.row_img img:hover {
    opacity: .8;
}

.row_1_img {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_1_img img {
    cursor: pointer;
}

.colors_btn {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    opacity: .5;
    cursor: pointer;
}

.colors_btn:hover {
    opacity: 1;
}

.active_1 {
    opacity: 1;
}

.cart_amount_btn {
    display: flex;
    justify-content: start;
    margin-top: 0;
    align-items: center;
}

.cart_amount_btn button {
    height: 25px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: larger;
}

.cart_amount_btn p {
    text-align: center;
}

.Add_cart_amount_btn button {
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

@media(max-width: 620px) {
    .singleproduct_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: small;
    }

    .singleproduct_images_section {
        width: 90%;
        height: 100%;
    }

    .singleproduct_Description_section {
        width: 90%;
        height: 100%;
    }

    .singleproduct_images {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .row_img {
        display: flex;
        flex-direction: row;
        width: 23%;
    }

}

/*-------------------------------------------------------Footer CSS styling code---------------------------------------------------*/

.footer_div {
    height: 200px;
    color: white;
    background-color: #4d565d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    overflow: hidden;
}

.footer_div input {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    outline: none;
    justify-content: center;
}

.footer_div button {
    height: 55px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #b5b5b6;
    border: none;
}

.footer_div button:hover {
    transition: .7s;
    background-color: orange;
    outline: none;
    border: none;
}

@media(max-width: 1020px) {
    .footer_div {
        height: 160px;
    }

    .footer_div button {
        height: 44px;
        width: 80px;
        font-size: 15px;
    }

    .footer_div input {
        height: 40px;
        width: 200px;
    }
}

@media(max-width: 800px) {
    .footer_div {
        height: 100px;
    }

    .footer_div button {
        height: 28px;
    }

    .footer_div input {
        height: 25px;
        width: 150px;
        font-size: small;
    }
}

/*-------------------------------------------------------Login page CSS styling code---------------------------------------------------*/

.login_main_div {
    display: flex;
    height: auto;
    min-height: 800px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login_form {
    height: 550px;
    width: 440px;
    border: 1px solid white;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.login_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}


.login_form h1,
h4 {
    text-align: center;
    margin-top: 30px;
    caret-color: transparent;
}

.login_form h5 {
    margin-top: -10px;
    text-align: end;
    margin-left: 150px;
    font-weight: normal;
    caret-color: transparent;
    cursor: pointer;
    width: 150px;
}

.login_form h5:hover {
    text-decoration: underline;
    color: blue;
}

.login_form input {
    font-size: medium;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid rgb(237, 225, 225);
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}

.login_form button {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    background-color: blue;
    border: none;
}

.login_form button:hover {
    color: black;
    transition: .8s;
}

.l_icon {
    caret-color: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.l_icon img {
    height: 45%;
    width: 50%;
    cursor: pointer;
    border: none;
}

.l_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login_main_page {
    height: 200px;
    width: 100%;
    margin-left: 100px;
    margin-top: -300px;
}

.login_main_page button {
    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media(max-width: 1020px) {

    .login_form input {
        width: 250px;
    }

    .login_form button {
        width: 200px;
        height: 35px;
        font-size: medium;
    }


    .login_form h5 {
        margin-left: 222px;
    }
}

@media(max-width: 800px) {

    .login_form {
        width: 260px;
        height: 450px;
        font-size: small;
    }

    .login_main_page button {
        height: 25px;
        width: 65px;
        font-size: small;
        margin-left: 7px;
    }

    .login_main_page {
        margin-left: 10px;
        font-size: 10px;
    }

    .login_form h5 {
        margin-left: 55px;
    }

    .login_form label {
        margin-left: 10px;
    }

    .login_form button {
        width: 90px;
        height: 26px;
        margin-top: 0px;
    }

    .login_form input {
        font-size: small;
        height: 30px;
        width: 200px;
        margin-left: 5px;
    }

    .l_btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .login_form h1,
    h4 {
        margin-top: 30px;
    }

    .l_icon img {
        height: 30%;
        width: 70%;

    }
}